@mixin desktop {
	@media screen and (min-width: 1080px ){
		@content;
	}
}
@mixin tablet {
	@media screen and (min-width: 620px) {
		@content;
	}
}
@include tablet {
	.main-logo {
		width: 500px;
	}
	.main-navigation {
		width: 285px;

		li:last-child a{
			border-right: 1px solid $color__text-main;
		}
	}
	.footer-wrapper {
		width: 500px;
		.footer-text {
			width: 550px;
			padding: 5px 0 0 0;
		}
	}
}
@include desktop {
	body {
		margin: 0 auto;

		.quote-left, .quote-right {
			margin: 0 auto;
			display: inline-block;
			color: $color__theme-green;
			i {
				font-size: 3em;
			}
		}
		.site-content  {
			display: grid;
			grid-template-columns: 1fr 2fr 1fr;
			p {
				font-size: 2rem;
			}
			button {
				margin: 25px 25%;
			}
		}
		.site-header {

			text-align: center;
			margin-top: 50px;
	
			.main-logo {
				width: 700px;
			}
		}
		.footer-wrapper {
			margin: 0 50%;
		}
	}	
	.about {
		article {
			p {
				font-size: 1rem;
			}
		}
	}
	.submit {
		div {
			input {
				width: 60%;
			}
			.themed-button {
				width: 35%;
			}
			textarea {
				width: 100%;
			}
		}
		.error-submit {
			font-size: 1.25rem;
		}
	}
	.error-page {
		.page-content {
			p {
				font-size: 1.25em;
			}
			.searchicon-submit {
				margin: 0;
			}
		}
	}
	.search {
		.search-title {
			padding-bottom: 10px;
			border-bottom: 1px dotted $color__text-main; 
		}
	}
}