@mixin desktop {
	@media screen and (min-width: 1080px ){
		@content;
	}
}
@mixin tablet {
	@media screen and (min-width: 620px) {
		@content;
	}
}
@include tablet {
	.main-logo {
		width: 500px;
	}
	.main-navigation {
		width: 275px;
	}
	.footer-wrapper {
		
		.footer-text {
			width: 550px;
			padding: 5px 0 0 0;
		}
	}
}