/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* Front Page*/
.quote-left, .quote-right {
    display: none;
}

.site-content {
    p {
        font-size: 1.25rem;
    }

    .entry-meta {
        display: flex;
        flex-wrap: wrap;
        h2 {
            font-size: 1.25rem;
        }
    }
    .source {
        
        margin-top: 1em;
        font-size: 1.2rem;

        a {
            font-style: italic;
            font-size: 1.25rem;
        }
    }

    button {
        color: $color__theme-green;
        font-size: 1rem;
        font-weight: 400;
        box-shadow: none;
        text-shadow: none;
        background: #222222;
        border: 2px solid $color__theme-green;
        padding: 15px 50px;
        margin-bottom: 50px;

        &:hover {
            color: $color__theme-green-hover;
            border: 2px solid $color__theme-green-hover;
        }
    }
}
.about {
    p{
        font-size: 1rem;
    }
}
// Archive Page
.archive {
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;

        li {
            list-style: none;
            padding: 10px;
        }   
    }
}
/* Submit a Quote Page */
.submit {
    div {
        display: flex;
        flex-direction: column;
        input{
            width: 40%;
            max-width: 300px;
        }
        textarea {
            width: 80%;
            max-width: 1000px;
            height: 150px;
        }
    }
    input, textarea {
        border: 1px solid $color__theme-green;
        background: none;
        margin: 10px 0;
    }
    .themed-button {
        color: $color__theme-green;
        font-size: 1rem;
        font-weight: 400;
        box-shadow: none;
        text-shadow: none;
        background: #222222;
        border: 2px solid $color__theme-green;
        padding: 15px 30px;
        margin: 20px 0;

        &:hover {
            box-shadow: none;
            color: $color__theme-green-hover;
            border: 2px solid $color__theme-green-hover;
        }
    }
}
// 404 page 
.error-page {
    fieldset {
        border: none;
        padding: 0;
        margin: 0;
        input {
            background: none;
            color: rgb(168, 168, 168);
            border: 2px solid $color__theme-green;
            padding: 5px;

            &:focus {
                color: $color__text-main;
                border: 2px solid $color__text-main;
            }
        }
        .searchicon-submit {
            border: none;
            padding: 10px;
        }
    }
}

/* All Archives Page */
.archive-category {
    header, article{
        border-bottom: 1px dotted $color__text-main;    
    }
}
// Default styling for navigation
.main-navigation {
    a {
        border-right: 1px solid $color__text-main;
        line-height: 15px;
    }
    li:nth-child(1) a {
        padding-left: 0;
    }
    li:last-child a {
        border: none;
    } 
}

